# Dependencies
node_modules/

# Environment variables
.env
.env.*

# Logs
logs
*.log
npm-debug.log*

# Build output
dist/
build/

# Operating System
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Coverage
coverage/

# Misc
*.local